Flask==3.0.3
Flask-SQLAlchemy==3.1.1
pytest==8.3.2


in case you don't know how to startup, just type this in the terminal: pip install -r requirements.txt

and after: python run.py


and... in our case, we pushed with 'git init'
